/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define the Color Palette */
/* Color Palette */
:root {
    --ue-red: #C10206; 
    --ue-red-rgb: 193, 2, 6; /* UE Red */
    --carmine: #A50113;
    --carmine-rgb: 165, 1, 19; /* Carmine */
    --floral-white: #FFFBF2;
    --floral-white-rgb: 255, 251, 242; /* Floral White */
    --chinese-white: #DFE2DB;
    --chinese-white-rgb: 223, 226, 219; /* Chinese White */
    --raisin-black: #211D21; 
    --raisin-black-rgb: 33, 29, 33; /* Raisin Black */
    --rich-black: #010A10; 
    --rich-black-rgb: 1, 10, 16; /* Rich Black [FOGRA29] */
}

/* Mouse Ball */
.mouse-ball {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: var(--chinese-white); /* Use your preferred color */
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1); /* Default scale is 1 */
    transition: transform 0.08s ease; /* Keep only the scale transition */
    opacity: 1; /* Ensure the ball is fully visible */
}

/* Body Styles */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--floral-white);
    color: var(--rich-black);
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(var(--floral-white-rgb), 0.8); /* Semi-transparent off-white */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect for a glass-like feel */
}

.elyria-link {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Evenly spread out the links across the full width */
    width: 100vw;
    margin: 0;
    padding: 0;
}

header nav ul li {
    text-align: center;
}

header nav ul li a.nav-link {
    color: var(--rich-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 35px; /* Increase the font size */
    transition: color 0.3s ease;
}


/* Hero Section Styles */
.hero {
    position: relative;
    height: 107vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--floral-white);
}

/* Hero Bottom Content - Full Width */
.hero-bottom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;  /* Match the width of .hero */
    text-align: left;
    font-size: 27.6vw; /* Proportional to viewport */
    font-weight: bold;
    color: var(--rich-black);
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
}

/* Hero Contact Section */
.hero-contact {
    position: absolute;
    bottom: 50%;
    right: 0%;
    padding: 15px 20px;
    text-align: right;
    font-size: 14px;
    color: var(--carmine);
    max-width: 250px; /* Adjust as needed */
    z-index: 10;
}

.hero-contact a {
    color: inherit; /* Inherit the parent text color */
    text-decoration: none; /* Remove underline */
    font-family: inherit; /* Keep the same font */
    font-size: inherit; /* Keep the same size */
    transition: none; /* Remove any color transition */
}

.hero-contact p {
    margin: 5px 0; /* Space between each line */
    z-index: 10;
}



/* Section Styles */
.intro-section {
    position: relative;
    padding: 50px, 50px;
    text-align: center;
    margin: 200px auto;
    max-width: 800px;
    color: var(--rich-black);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    z-index: 10;
}

.intro-section::after {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    bottom: -10px; /* Adjust to move the line closer to the section */
    left: 0; /* Start the line at the left edge */
    height: 2px; /* Adjust the thickness of the line */
    width: 90%; /* Matches the width of the section */
    left: 5%; /* Center the line within the section */
    background-color: var(--carmine); /* Set the underline color */
}



.chapter-break {
    height: 1px;
    margin: 5px auto;
    z-index: 10;
}

.chapter-break-date {
    height: 1px;
    margin: 2px auto;
    width: 80%;
    z-index: 10;
}




.projects-section {
    padding: 20px;
    width: 100%;
    z-index: 10;
    align-items: left;
}

/* Style for Projects Header */
.projects-header {
    font-size: 13vw; /* Large text */
    font-weight: bold;
    position: relative; /* Absolute positioning */
    top: 0;
    left: 0; /* Place at top-left corner */
    margin: 15px; /* Add spacing from the edges */
    color: var(--rich-black); /* Use appropriate color */
    z-index: 15; /* Ensure it's above the cards */
    margin-bottom: 60px;
}

/* Project item styling */
.project-item {
    display: flex;
    align-items: left;
    width: 90%;
    padding: 30px 0;
    cursor: pointer;
    z-index: 10;
}

/* Right side: Company name and work summary */
.project-info {
    flex: 1;
    margin: 5px;
    text-align: top; 
    line-height: 1.4; /* Ensure consistent line height */
    z-index: 10;
}

.company-name {
    font-weight: bold;
    font-size: 18px;
    color: var(--rich-black);
    z-index: 10;
}

.work-summary {
    font-weight: normal;
    font-size: 16px;
    color: var(--raisin-black);
    z-index: 10;
}

.project-date {
    flex: 1;
    font-size: 18px; /* Ensure the font size matches other content */
    color: var(--carmine);
    z-index: 10;
}

/* Center: Project title */
.project-title {
    flex: 6; /* Make the title wider */
    text-align: top;
    font-size: 4.5vw; /* Match the large title size */
    font-weight: bold;
    color: var(--rich-black);
    line-height: 1.2; /* Ensure consistent line height */
    margin-right: 25px;
    padding-left: 25px;
    z-index: 10;
}

.project-description {
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 0; /* Remove default margins */
    width: calc(6 * 100% / 8); /* Set width similar to project title, adjust as necessary */
    font-size: 16px;
    line-height: 1.2; /* Ensure consistent line height */
    color: var(--rich-black);
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

.dimmed {
    opacity: 0.5; /* Adjust the opacity to make it more transparent */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}




/* Styling for the info1 section */
.info1-section {
    position: relative;
    padding: 50px 0;
    color: var(--rich-black);
    align-items: center;
    z-index: 10;
}


/* Styling for the individual boxes */
.info1-box {
    position: relative;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    margin: 140px auto;
    z-index: 10;
}

/* Header Styles */
.info1-box h2 {
    font-size: 34px;
    margin-bottom: 16px;
    font-weight: bold;
    z-index: 10;
}

/* Text Styles */
.info1-box p {
    font-size: 16px;
    line-height: 1.4;
    z-index: 10;
}




/* Styling for the articles section */
.articles-section {
    padding: 20px;
    width: 100%;
    z-index: 10;
    align-items: left;
}

.article-item-link {
    text-decoration: none;
    display: block; /* Ensure the entire article is clickable */
}

/* Style for Articles Header */
.articles-header {
    font-size: 13vw; /* Large text */
    position: relative;
    font-weight: bold;
    top: 0;
    left: 0; 
    color: var(--rich-black); /* Use appropriate color */
    z-index: 10; /* Ensure it's above the cards */
    margin-bottom: 30px;
}

/* Article item styling */
.article-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--carmine); /* Add a subtle bottom border for each article */
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.article-item:hover {
    transform: scale(1.02); /* Slightly increase the size */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add subtle shadow */  
    z-index: 10;
}


.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.article-meta {
    font-size: 14px;
    color: var(--raisin-black);
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.4;
    margin-top: 8px;
    padding-right: 10px;
}

.article-title {
    font-size: 3vw;
    font-weight: bold;
    color: var(--rich-black);
    flex: 6;
    margin-right: 20px;
    padding-left: 10px;
    line-height: 1.2;
}


.article-link {
    font-size: 14px;
    color: var(--carmine);
    position: relative;
    margin-right: 10px;
    text-decoration: none;
}

.article-link:hover {
    text-decoration: underline; /* Add underline on hover */
    color: var(--carmine);
}



/* Contact Section Styling */
.contact-section {
    padding: 80px 20px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.contact-content {
    max-width: 800px; /* Limit width for better readability */
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    position: relative;
    z-index: 10;
}

.contact-content h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: var(--rich-black);
    font-weight: bold;
}

.contact-content p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--rich-black);
    margin-bottom: 30px;
}

/* Contact Button */
.contact-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--carmine);
    color: var(--floral-white);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
    background-color: var(--ue-red); /* Darken on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}



/* Footer Styling */
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px; /* Increase padding for a more spacious look */
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 2px solid var(--rich-black); /* Add a top border for separation */
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    z-index: 10;
}

/* Left Section: Logo and Company Name */
.footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    height: 50px; /* Slightly larger logo */
    width: auto;
    transition: filter 0.3s ease;
    z-index: 10;
}

.footer-logo:hover {
    filter: none; /* Restore color on hover */
}

.footer-company-name {
    font-size: 22px;
    font-weight: bold;
    color: var(--rich-black);
}

/* Right Section: Contact Information */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    gap: 10px;
}

.footer-right p {
    margin: 0;
    color: var(--rich-black);;
    font-size: 16px;
}

/* Email Link Styling */
.footer-right a {
    color: inherit; /* Inherit the parent text color */
    text-decoration: none; /* Remove underline */
    font-family: inherit; /* Keep the same font */
    font-size: inherit; /* Keep the same size */
    transition: none; /* Remove any color transition */
}

.footer-right a:hover {
    color: var(--ue-red); /* Change to a primary color on hover */
}




/* Responsive Styles */
@media (max-width: 768px) {

    .mouse-ball {
        display: none; /* Hide the mouse ball on mobile devices */
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 40px;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        background-color: rgba(var(--floral-white-rgb), 0.8); /* Semi-transparent off-white */
        backdrop-filter: blur(5px); /* Optional: Adds a blur effect for a glass-like feel */
    }

    /* Style the ELYRIA link in the top left corner */
    .elyria-link {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 24px;
        font-weight: bold;
        color: var(--rich-black);
        text-decoration: none;
        z-index: 10;
    }

    /* Make hamburger menu always visible */
    .menu-toggle {
        display: block; /* Always visible */
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 102;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Hamburger bars */
    .menu-toggle span {
        display: block;
        height: 3px;
        background-color: var(--rich-black);
        width: 100%;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    /* Hide the nav by default */
    .main-nav {
        display: none; /* Hidden until toggle */
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center; /* Center the text */
        background-color: rgba(var(--floral-white-rgb), 0.95); /* Semi-transparent background */
        padding: 20px 0;
        z-index: 100;
    }

    /* Show nav when toggle is clicked */
    .show-nav .main-nav {
        display: block;
    }

    /* Center the nav links */
    header nav ul {
        list-style: none;
        display: flex;
        flex-direction: column; /* Stack the links vertically */
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    /* Individual link styles */
    header nav ul li {
        margin-bottom: 10px; /* Add spacing between links */
    }

    header nav ul li a.nav-link {
        font-size: 30px;
        text-align: center;
        color: var(--rich-black);
        text-decoration: none;
        font-weight: bold;
    }

    /* Hamburger menu active state */
    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }





    .hero {
        height: 100vh; 
        padding: 20px; /* Add padding for spacing */
        text-align: center; /* Center-align content */
    }

    .hero-bottom-content {
        font-size: 27vw; /* Reduce font size for mobile */
        text-align: center; /* Center-align text */
        padding: 30px 0px; /* Add padding around the text */
        margin-bottom: calc(env(safe-area-inset-bottom) + 10px); /* Ensure spacing above the browser UI */
        white-space: normal; /* Allow text to wrap */
    }

    .hero-contact {
        position: absolute; /* Change position to relative for better stacking */
        text-align: right; /* Center the contact section */
        margin: 20px auto; /* Center-align with margin */
        padding: 10px 15px; /* Smaller padding */
        max-width: 80%; /* Take up more space for readability */
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .hero-contact p {
        margin: 5px 0; /* Keep space between lines */
    }



    .intro-section {
        font-size: 14px; /* Smaller font size for mobile */
        line-height: 1.4; /* Adjust line height for better readability */
        max-width: 100%; /* Allow the section to take more screen width */
        margin: 100px, 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro-section::after {
        height: 1.5px; /* Slightly thinner line for mobile */
        width: 90%; /* Reduce width for better fit */
        left: 5%; /* Center the line */
    }


    /* Adjust Projects Section Padding */
    .projects-section {
        padding: 10px 15px; /* Reduce padding for mobile */
    }

    /* Style for Projects Header */
    .projects-header {
        font-size: 12vw; /* Reduce font size for mobile */
        margin-bottom: 30px; /* Reduce space below header */
        text-align: center; /* Center-align the header */
    }

    /* Project item styling */
    .project-item {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        padding: 15px 0; /* Reduce padding for mobile */
    }

    /* Right side: Company name and work summary */
    .project-info {
        text-align: left; /* Keep text aligned to the left */
        padding-left: 10px; /* Add padding for spacing */
        font-size: 16px; /* Reduce font size for readability */
    }

    .company-name {
        font-size: 16px; /* Reduce font size */
    }

    .work-summary {
        font-size: 14px; /* Reduce font size */
    }

    /* Center: Project title */
    .project-title {
        font-size: 6vw; /* Larger font size but fits mobile screens */
        margin-right: 0; /* Remove right margin for better fit */
        padding: 5px 15px; /* Add padding for spacing */
    }

    /* Hide project date on mobile */
    .project-date {
        font-size: 16px; /* Hide date */
    }

    /* Project description styling */
    .project-description {
        width: 100%; /* Full width for mobile */
        margin-left: 0; /* Reset left margin */
        padding: 10px 15px; /* Add padding for spacing */
        font-size: 14px; /* Adjust font size for readability */
        line-height: 1.5; /* Increase line height for readability */
    }



     /* Adjust section padding for mobile */
     .info1-section {
        padding: 10px 0;
    }

    /* Full-width boxes on mobile */
    .info1-box {
        width: 90%; /* Make the boxes take up more width on smaller screens */
        padding: 5px; /* Reduce padding */
    }

    /* Header font size for mobile */
    .info1-box h2 {
        font-size: 28px; /* Slightly smaller for mobile */
        margin-bottom: 12px;
    }

    /* Text size and line height for mobile */
    .info1-box p {
        font-size: 12px; /* Smaller text size for mobile */
        line-height: 1.4; /* Increase line height for readability */
    }


    .articles-header {
        font-size: 10vw; /* Reduce header size for mobile */
        margin-bottom: 10px;
    }

    .article-item {
        flex-direction: column; /* Stack items vertically on smaller screens */
        padding: 15px 0; /* Adjust padding */
    }

    .article-meta {
        font-size: 10px; /* Smaller text for date and author */
        margin-bottom: 5px; /* Add space between elements */
        text-align: left; /* Align text to the left on mobile */
        padding-left: 5px;
    }

    .article-title {
        font-size: 5vw; /* Adjust font size for titles */
        margin-bottom: 5px;
        padding-left: 0; /* Remove extra padding on smaller screens */
    }

    .article-link {
        font-size: 12px; /* Adjust link font size for mobile */
        margin-top: 10px; /* Add space above link */
        align-self: flex-start; /* Align link to the left */
    }



    .contact-content {
        max-width: 100%; /* Take full width on mobile */
        padding: 20px; /* Reduce padding on smaller screens */
    }

    .contact-content h2 {
        font-size: 24px; /* Smaller font size for headers on mobile */
    }

    .contact-content p {
        font-size: 14px; /* Reduce paragraph font size for mobile */
        line-height: 1.4; /* Adjust line height */
    }

    .contact-button {
        font-size: 14px; /* Make the button text smaller */
        padding: 10px 20px; /* Smaller button padding for mobile */
    }



    .site-footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .footer-left,
    .footer-right {
        align-items: center;
    }

    .footer-right {
        margin-top: 15px; /* Add spacing between logo and contact info */
        align-items: center;
    }
}